<div class="navbar">

    <ul>
        <% if(user){%>
        <li><a href="/auth/logout">Logout</a></li>
        <%}else{%>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/index">Homepage</a></li>
        <%}%>



    </ul>


</div>