<div class="navbar">

    <form method="GET" action="/register">
        <button type="submit">Register</button>
    </form>
    <form method="GET" action="/login">
        <button>Login</button>
    </form>


</div>