<% include partials/header %>
<% include partials/navbar %>
<h1>Login PAGE</h1>


<main>
    <a class="google-btn" href="/auth/google">Google+</a>
    <a class="facebook-btn" href="/auth/facebook">Facebook</a>

</main>

<% include partials/footer %>