<% include partials/header %>
<% include partials/navbar %>
<h1>Login PAGE</h1>


<main>

        <form method="POST" action="/auth/login">

            <input type="email" id="username" name="username" />
            <input type="password" id="password" name="password" />
        
            <button type="submit">Submit</button>
        </form>


    <a class="google-btn" href="/auth/google">Google+</a>
    <a class="facebook-btn" href="/auth/facebook">Facebook</a>

</main>

<% include partials/footer %>