<% include partials/header %>
<% include partials/navbar %>

<h1>ENTER WITH EMAIL</h1>
<form method="POST" action="/auth/register">

    <input type="email" id="username" name="username" />
    <input type="password" id="password" name="password" />

    <button type="submit">Submit</button>
</form>

<% include partials/footer %>